.App {
  text-align: center;
  width: 100%;
  max-width: 748px;
  margin: 20px auto 0 auto;
  background-color: lightgoldenrodyellow;
  border-radius: 30px;
  padding: 10px 20px ;
}
.input{
  display: flex;
  overflow: hidden;
  margin: auto;
  margin-bottom: 10px;
}

.inputField{
  width: 100%;
  padding: 10px;
  border-radius:  20px;
  font-size: 20px;
  color: lightcoral;
  background-color: antiquewhite;
}
.copyBtn{
  background-color:antiquewhite;
  border: none;
  border-radius: 3px;
  font-size: 20px;
}
.lenthDiv{
  display: flex;
  gap: 30px;
}
.lengthDiv02{
  display: flex;
  gap:20px ;
}
.range{
  cursor: pointer;
}

.label{
  color: lightsalmon;
  font-size: 20px;
}

